.item-galery 
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center; 
}

.item-galery-title 
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-top: 4px solid black;
}

.img-galery 
{   
	width: 100%;
}

.item-galery-img 
{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

@media screen and (min-width:280px) 
{
	.item-galery-img 
	{
		display: flex;
        width: 300px;
		height: 200px;
        margin-bottom: 10px;
        padding: 10px;
    }
}

@media screen and (min-width:740px) 
{
    .item-galery-img 
    {
		display: flex;
        width: 400px;
		height: 300px;
    }
}

@media screen and (min-width:1024px) 
{
    .item-galery-img 
	{
		display: flex;
        width: 400px;
		height: 300px;
    }
}