.item-galery 
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center; 
}
.item-galery-title-first{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-top: 4px solid black; 
}
.item-galery-title 
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-top: 4px solid black;
}
.item-galery-div{
    width: 100%;
    box-sizing: border-box;
}
.img-galery 
{   
    border-radius: 50%;
}

.item-galery-img 
{
    display: flex;
    margin-bottom: 10px;
    width: 65%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.item-galery-img img {
    border-radius: 50%;
    position: relative;
}
.item-name-dog{
    position: absolute;
    color: white;
    margin-top:40px;
    font-weight: bold;
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    border-radius: 20px;

}
.item-galery-general{
    box-sizing: border-box;
}

@media screen and (min-width:480px) 
{
    .item-galery-img 
	{
        width: 48%;
        margin-bottom: 10px;
        padding: 10px;
    }
}

@media screen and (min-width:740px) 
{
    .item-galery-general{
        display: flex;
        flex-wrap: wrap;
      

    }
    .item-galery-img 
       {
        width: 100%;
        justify-content: center;
        
    }

    .item-galery-title{
         width: 100%
    }
    .item-galery{
        width: 100%;
    }
    .item-galery-div{
        width: 33.3%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
}

@media screen and (min-width:1024px) 
{
    .item-galery-img 
	{
        width: 100%;
    }
}