<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Nasus</title>
        <link rel="icon" href="{% static 'img/iconoperro.png' %}">  
        <link rel="stylesheet" href="{% static 'styles/entry.css' %}">
        <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <link href="https://file.myfontastic.com/BCwNLSewuX3SRWpNHcCZnR/icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="menu-container">
            <a id="ref" href="{% url 'goku_list' %}"><span class="icon-paw"></span></a>
            <label id="btn-menu" class="icon-bars"></label>
            <nav id="navegador">
                <ul>
                    <li><a href="{% url 'goku_list' %}" class="item-link">Inicio</a></li>
                    <li><a href="#" class="item-link">Adopcion</a></li>
                    <li><a href="{% url 'goku_notfound' %}" class="item-link">Sobre Nosotros</a></li>
                    <li><a href="{% url 'goku_notfound' %}" class="item-link">Ayuda</a></li>
                </ul>
            </nav>
        </div>  

        <div class= "carousel-container">
            <div class="carousel slide"></div>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" >   
                        <div class ="item active"> 
                        <img class="perritos" tabindex= "5" src="{% static 'img/perro_1.jpg' %}" alt ="perro adoptado 1" >
                        <div class ="descripcion" tabindex= "6">
                        <p>Desde el dia que lo adoptamos nos enamoramos de el, ahora solo duerme en camas y se ve mucho mas contento.</p>	
                        </div>
                        </div>

                        <div class ="item">
                        <img class="perritos" tabindex= "7" src="{% static 'img/perro_2.jpg' %}" alt ="perro adoptado 2" >
                        <div class ="descripcion" tabindex= "8">
                        <p>Al principio parecia triste cuando nos lo llevamos, pero ahora esta feliz junto a su nuevo amigo perruno.</p>	
                        </div>
                        </div>	

                        <div class ="item">
                        <img class="perritos" tabindex= "9" src="{% static 'img/perro_3.jpg' %}" alt ="perro adoptado 3" >
                        <div class ="descripcion" tabindex= "10">
                        <p>Nos contaron que nadie se lo queria llevar por su problema en el ojo, al principio dudamos pero ahora lo amamos.</p>
                        </div>	
                        </div>

                        <div class ="item">
                        <img class="perritos" tabindex= "11" src="{% static 'img/perro_4.jpg' %}" alt ="perro adoptado 4" >
                        <div class ="descripcion" tabindex= "12">
                        <p>Nos lo llevamos muy pequeño y ahora esta todo un gigante, nos cuida a todos y es como si fuera el rey de la casa.</p>
                        </div>
                        </div>

                        <div class ="item">
                        <img class="perritos" tabindex= "13" src="{% static 'img/perro_5.jpg' %}" alt ="perro adoptado 5" >
                        <div class ="descripcion" tabindex= "14">
                        <p>Es un poco feito, enojon y destruye los muebles pero lo amamos de todas maneras, mis hijos lo aman.</p>
                        </div>
                        </div>

                        <div class ="item">
                        <img class="perritos" tabindex= "15" src="{% static 'img/perro_6.jpg' %}" alt ="perro adoptado 6" >
                        <div class ="descripcion" tabindex= "16">
                        <p>Es el cuarto perro que tenemos en nuestra casa, al principio le costo acostumbrarse pero ahora es parte de la manada.</p>	
                        </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>
                    
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        
        <div class="general-container">
            <div class="item-galery">
                <div class="item-galery-title">
                    <h2>Galeria</h2>
                </div>
                <div class="item-galery-img">
                    <img class="img-galery" src="{% static 'img/galeria_1.jpg' %}" alt="Imagen perro">
                </div>
                <div class="item-galery-img">
                    <img class="img-galery" src="{% static 'img/galeria_2.jpg' %}" alt="Imagen perro">
                </div>
                <div class="item-galery-img">
                    <img class="img-galery" src="{% static 'img/galeria_3.jpg' %}" alt="Imagen perro">
                </div>
                <div class="item-galery-img">
                    <img class="img-galery" src="{% static 'img/galeria_4.jpg' %}" alt="Imagen perro">
                </div>
                <div class="item-galery-img">
                    <img class="img-galery" src="{% static 'img/galeria_5.jpg' %}" alt="Imagen perro">
                </div>
                <div class="item-galery-img">
                    <img class="img-galery" src="{% static 'img/galeria_6.jpg' %}" alt="Imagen perro">
                </div>
                <div class="item-galery-img">
                    <img class="img-galery" src="{% static 'img/galeria_7.jpg' %}" alt="Imagen perro">
                </div>
            </div>

            <div class="item-info">
                <div class="item-crow-res">
                    <div class="item-info-title">
                        <h2>Rescate</h2>
                        <img src="{% static 'img/rescate.jpg' %}" alt="Imagen rescate">
                    </div>
                    
                    <div class="item-info-info">
                        <p>Nuestro principal foco de atencion son los perros en necesidad de adopcion y perros rescatados de situacion de calle, nosotros rescatamos a estos perros, los cuidamos y les damos un hogar temporal mientras se esta en busqueda de una familia y un mejor futuro para ellos.</p>
                    </div>
                </div>
                <div class="item-crow-res">
                    <div class="item-info-title">
                        <h2>Crowfunding</h2>
                        <img src="{% static 'img/crowfunding.jpg' %}" alt="Imagen crowfunding">
                    </div>
                    <div class="item-info-info">
                        <p>Se esta pensando en hacer diversas campañas con pequeñas empresas para poder financiar de manera correcta y precisa nuestros proyectos de adopcion, esperamos que en un futuro grandes empresas tambien puedan ser participes para poder ayudar de mejor manera a todos los perros que pueden llegar en un futuro.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/javamenu.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>