<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error404</title>
        <link rel="icon" href="{% static 'img/iconoperro.png' %}">        
        <link rel="stylesheet" href="{% static 'styles/error.css' %}">
        <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <link href="https://file.myfontastic.com/BCwNLSewuX3SRWpNHcCZnR/icons.css" rel="stylesheet">
    </head>

    <body>
        <div class="menu-container">
            <a id="ref" href="goku_notfound.html"><span class="icon-paw"></span></a>
            <label id="btn-menu" class="icon-bars"></label>
                <nav id="navegador">
                    <ul>
                        <li><a href="{% url 'goku_list' %}" class="item-link">Inicio</a></li>
                        <li><a href="#" class="item-link">Adopcion</a></li>
                        <li><a href="{% url 'goku_notfound' %}" class="item-link">Sobre Nosotros</a></li>
                        <li><a href="{% url 'goku_notfound' %}" class="item-link">Ayuda</a></li>
                    </ul>
                </nav>
        </div>
        
        <div class="general-container">
            <div class = "msgerror">
                <h2>ERROR 404</h2> 
                <p>Pagina no encontrada</p>
            </div>  
        </div>

        <div class= "contimagen">
            <img class="imgerror" src="{%static 'img/error.png' %}"alt="imagen perro trabajador">
        </div>

        <script src="{% static 'js/javamenu.js' %}"></script>
    </body>
</html>