<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mis Nasus</title>
        <link rel="icon" href="{% static 'img/iconoperro.png' %}">        
        <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <link rel="stylesheet" href="{% static 'styles/details.css' %}">
        <link href="https://file.myfontastic.com/BCwNLSewuX3SRWpNHcCZnR/icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <header>        
    </header>
    <div class="flex-container">
        <form method="POST" enctype="multipart/form-data" class="item-form">{% csrf_token %}
            
            {{ form2.as_p }}
          <button type="submit">Registrar</button>
        </form>
      </div>
    <script src="{% static 'js/javamenu.js' %}"></script>
</body>
</html>